extends ../template/layout

block content
  div.container
    div.row
      div.col-md-8.col-md-offset-2
        h1.text-center Session list
        if message
          h4.bg-success= message
        if recordings
          table.table
            tr
              th ID
              th Title
              th Description
              th Types
              th Content
              th Date added
            each recording in recordings
              tr
                td= recording._id
                td= recording.title
                td= recording.description
                td= recording.type
                - var string = ''
                td
                  each value in recording.content
                    //- - string = string + '\n' + value
                    = value
                    br/
                  //- pre= string
                td= moment(recording.createdAt).format("YYYY-MM-DD HH:mm")
        else
          h2 There is no session
