extends ../template/user_layout

block main_content
  div.container
    if (recording)
      div.page-header
        h1= recording.title
      div.row
        div.col-md-3
          div.list-group(id='items')
            each item, index in recording.content
              if index == reqIndex
                a.list-group-item.active(href=`${index}`)= item
              else
                a.list-group-item(href=`${index}`)= item
        div.col-md-9
          div.panel.panel-default
            div.panel-body
              div.text-center
                h1.well#word= recording.content[reqIndex]
                canvas.visualizer
              div.row.text-center
                div.col-md-2.col-md-offset-2
                  if reqIndex != 0
                    a.btn-control#btn-back(href=`${parseInt(reqIndex) - 1}`, onclick='onBtnBackClicked()')
                      i.fa.fa-backward.fa-4x
                div.col-md-2.col-md-offset-1
                  a.btn-control#btn-record(onclick='onBtnRecordClicked()')
                    i.fa.fa-play.fa-4x
                div.col-md-2.col-md-offset-1
                  if (reqIndex != recording.content.length - 1)
                    a.btn-control#btn-next(onclick='onBtnNextClicked()')
                      i.fa.fa-forward.fa-4x

          if (reqIndex == recording.content.length - 1)
            a.btn.btn-lg.btn-success.pull-right(href='#') Finish
    else
      p No recording found

  //- The dot is important, do not remove it
  script(type='text/javascript').
    var username = !{JSON.stringify(username)};
    var recordingID = !{JSON.stringify(recording._id)};
  script(src='https://cdn.webrtc-experiment.com/RecordRTC.js')
  script(src='/javascripts/recorder.js')
