extends ../template/user_layout

block main_content
  div.container
    if (recording)
      div.page-header
        h1= recording.title
      div.row
        div.col-md-12
          p.bg.bg-success#notificationMsg.hidden        
        div.col-md-12
          p.bg.bg-danger#errorMsg.hidden      
        div.col-md-3
          div.panel.panel-info
            div.panel-heading Session Information
            div.panel-body
              ul
                li
                  strong Description
                  p= recording.description
                li
                  strong Type
                  p= recording.type
                li
                  strong Added Date
                  p= moment(recording.createdAt).format("YYYY-MM-DD")
                li
                  strong Last Modified Date
                  p= moment(recording.updatedAt).format("YYYY-MM-DD")
        div.col-md-9#recording-panel(data-recording-id=`${recording._id}`, data-username=`${username}`, data-recording-type=`${recording.type}`, data-end-of-session=((reqIndex != recording.content.length - 1) ? 'false' : 'true'))
          if(recording.type == "words" || recording.type == "sentences")
            include session_word
          else
            include session_paragraph
      if (reqIndex == recording.content.length - 1)
        a.btn.btn-lg.btn-lg-reminder.btn-success.pull-right(id='btn-finish', onclick='onBtnFinishClicked()') Finish   
      button.btn.btn-lg.btn-info.pull-right(type='button', data-toggle='modal', data-target='#remindModal' ) Remind Me Later
      div.modal.fade(id='remindModal', tabindex='-1', role='dialog', aria-labelledby='remindModalLabel')
        div.modal-dialog(role='document')
          div.modal-content
            div.modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hiddenn='true') &times;
              h2.modal-title(id='remindModalLabel') Set up reminder date
            div.modal-body
              form(id='reminderForm', action=`/user/create_reminder?r=${recording._id}`)
                .form-group
                  label Message (Optional)
                  textarea.form-control(rows='3', name='message', placeholder='Maybe leave a message to yourself?')
                .form-group
                  label Date I want the reminder to be sent
                  input(required, type='date', name='date', class='form-control ')
                div.clearfix
                  button.btn.btn-lg.btn-lg-reminder.btn-primary.pull-right(type='submit' id='reminderBtn') Create
                  button.btn.btn-lg.btn-default.pull-right(type='button' data-dismiss='modal') Cancel
       

    else
      p No recording found

  script(src='https://cdn.webrtc-experiment.com/RecordRTC.js')  
  script(src='/javascripts/recorder.js')
