extends ../template/user_layout

block main_content
  div.container
    if (recording)
      div.page-header
        h1= recording.title
      div.panel.pabel-default
        div.panel-heading Session Information
        table.table
          th
            ul
              li
                  h3 Added Date
                  p= moment(recording.createdAt).format("YYYY-MM-DD")
              li
                h3 Last Modified Date
                p= moment(recording.updatedAt).format("YYYY-MM-DD")
          th
            ul
              li
                h3 Description
                p= recording.description
              li
                h3 Type
                p= recording.type.toUpperCase()
              li
                h3 Content
                ul
                  each item in recording.content
                    li= item         
      if recordingStatus == 'start'
        a.btn.btn-lg.btn-default(id='start-recoring', href=`${recording._id}/0?a=start`) Start
      else if recordingStatus == 'ongoing'
        a.btn.btn-lg.btn-default(id='start-recoring', href=`${recording._id}/0?a=continue`) Continue
      else if recordingStatus == 'finished'
        a.btn.btn-lg.btn-default Finished
    else
      p No recording found



  //- .row
  //-   div.col-md-6.col-md-offset-3
  //-     h2.text-center Recording System Demo
  //-     div.text-center
  //-       canvas.visualizer
  //-     div.text-center
  //-       button.btn.btn-primary#rec(onclick='onBtnRecordClicked()') Record
  //-       button.btn.btn-primary#pauseRes(onclick='onPauseResumeClicked()' disabled) Pause
  //-       button.btn.btn-primary#stop(onclick='onBtnStopClick()' disabled) Stop
  //-       button.btn.btn-primary#download(onclick='download()' disabled) Download
  //-       div.sound-clips
  //-       br
  //-       p#errorMsg
  //-       p#data
