extends ../template/user_layout

block main_content
  div.container
    h1= "Welcome, " + user.information.fullname
    hr
    div.well Please find below the list of newest sessions provided by the administrators and the list of ongoing sessions which you have not finished yet.
    div.row
      div.col-md-4.user-db-col
        h3.text-center New Sessions
        if newRecordings
          table.table.table-bordered
            tr
              th Title
              th Date added
              each recording in newRecordings
                tr
                  td
                    a(href=`/user/session/${recording._id}/0?a=start`)= recording.title
                  td= moment(recording.createdAt).format("DD-MM-YYYY")

      div.col-md-4.user-db-col
        h3.text-center Ongoing Sessions
        if ongoingRecordings
          table.table.table-bordered
            tr
              th Title
              th Last Visited
              each recording in ongoingRecordings
                tr
                  td
                    a(href=`/user/session/${recording._recording._id}/0?a=continue`)= recording._recording.title
                  td= moment(recording.lastVisited).format("DD-MM-YYYY")
      div.col-md-4.user-db-col
        h3.text-center Finished Sessions




    //- .row
    //-   div.col-md-6.col-md-offset-3
    //-     h2.text-center Recording System Demo
    //-     div.text-center
    //-       canvas.visualizer
    //-     div.text-center
    //-       button.btn.btn-primary#rec(onclick='onBtnRecordClicked()') Record
    //-       button.btn.btn-primary#pauseRes(onclick='onPauseResumeClicked()' disabled) Pause
    //-       button.btn.btn-primary#stop(onclick='onBtnStopClick()' disabled) Stop
    //-       button.btn.btn-primary#download(onclick='download()' disabled) Download
    //-       div.sound-clips
    //-       br
    //-       p#errorMsg
    //-       p#data

  //- script(src='https://cdn.webrtc-experiment.com/RecordRTC.js')
  //- script(src='/javascripts/recorder.js')
